html, body, .container {
    height:100%;
    width: 100%;
}

div {
    display: inline;
    padding-left: 10%;
}

body {
    background-color: rgb(16, 16, 16);
}

.main {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.46);
    font-size: 2em;
}
